/* ------------slider--------------- */
.slider-section {
  height: 95vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.slider-container {
  height: 75vh;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.slider-content .slider-nav-btn i {
  font-size: 800%;
  color: white;
}

.slider-content .slider-nav-btn i:first-child {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;

}

.slider-content .slider-nav-btn i:last-child {
  position: absolute;
  right: 5%;
  top: 60%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;



}

.slider-footer {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.slider-footer__img {
  display: inline;

}

.slider-footer img {
  width: 25%;
  margin: 10px;
  border: 3px solid transparent;
}

.slider-footer__img:hover img {
  opacity: 0.9;
}

/* ------------------oustanding-product--------------- */
.outstanding-products {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url('https://file.hstatic.net/200000411281/file/nen_1_d9b188f289834a59b6db9ded098262c8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outstanding-products__header {
  text-align: center;
}

.outstanding-products__header h1,
.outstanding-products__header h2 {
  color: white;
}

.outstanding-products__content {
  padding-top: 75px;
  justify-content: space-between;
  font-size: 150%;
}

.outstanding-products__content h4 {
  color: white;
}

.oustanding-product {
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.oustanding-product:last-child {
  margin-right: 0px;
}

.oustanding-product a {
  color: white;
  text-decoration: none;
}

.oustanding-product img {
  width: 80%;
}

.oustanding-product .price {
  padding-top: 10px;
  font-size: 120%;
}


.oustanding-product .hoverProduct {
  opacity: 0;
  transform: translateY(-400%);
  left: 34%;
  transition: all linear 1s;
}

.oustanding-product:hover .hoverProduct {
  opacity: 1;
  transform: translateY(-400%);
}

.oustanding-product:first-child .hoverProduct {
  left: 30%;
}

/* ---------------product-section--------------- */
.products-section {
  padding: 50px 0px;
}

.products-header {
  text-align: center;
  padding-bottom: 50px;
}

.products-header__nav {
  list-style: none;
  font-size: 150%;
  font-weight: 1000;

}

.products-header__nav a {
  display: inline-block;
  padding: 30px 15px 0px 15px;
  text-decoration: none;
  color: black;
}

.products-content {}

.js-products-content__item {
  animation: ShowProduct linear 0.5s;
}

.best-seller {
  display: none;
}

.products-content__product {
  margin-bottom: 35px;
  position: relative;
}

.products-content__product a {
  text-decoration: none;
  color: black;
}

.products-content__product img {
  width: 90%;
}

.products-content__product h4 {
  font-size: 140%;
  padding-top: 15px;
  font-weight: 400;
}

.products-content__product .price {
  font-size: 180%;
  padding-top: 10px;
}

.products-content__product .hoverProduct {
  opacity: 0;
  transform: translateY(-200%);
  left: 27%;
  transition: all linear 1s;
}

.products-content__product:hover .hoverProduct {
  opacity: 1;
  transform: translateY(-400%);
}

.js-products-content__item.new-products {
  display: none;
}

.js-products-content__item.sales {
  display: none;
}