.open {
  display: block !important;
}

.err {
  color: red !important
}


/* --------------------------------toast------------------------------ */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  animation: slide_show ease-in 0.5s, slide_hide linear 0.5s 1s forwards;
}

@keyframes slide_show {
  0% {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }

  25% {
    opacity: 1;
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(+10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide_hide {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(+10%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
}


@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864 !important;
}

.toast--success .toast__icon i {
  color: #47d864 !important;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d !important;
}

.toast--error .toast__icon i {
  color: #ff623d !important;

}

.toast+.toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hide {
  display: none !important;
}

.table-products tbody tr td img {
  width: 20%;
}

.table-orders tbody tr td img {
  display: inline;
  margin: 0px 20px 10px 0px;
  width: 20%;
}

.table-orders tbody tr td p {
  display: inline;
}

.products-col {
  font-size: 80%;
}

.product {
  margin: 10px 0px;
}

table {
  width: 100%;
}

.table-orders table td,
.table-orders table th {
  min-width: 200px;
}

.table-products table td,
.table-products table th {
  min-width: 200px;
}

table .count {
  position: relative;
}

table .count p {
  position: absolute;
  top: 50%;

  transform: translate(0, -50%);
}


.admins .text-center img {
  width: 35px;
  height: 30px;
}

/* -------------modal--------------------- */

.modal-detail-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
}

.modal-detail-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
}


.modal-detail-content {
  overflow: auto;
  height: 60%;
}

.modal-detail-content .footer-modal {
  display: flex;
  justify-content: space-between;
}

.table-orders .detail {
  cursor: pointer;
  padding: 5px;
  color: white;
  font-size: 100%;
}

.table-orders .detail:hover,
.table-orders .detail:active {
  opacity: 0.9;

}

.excel {
  color: #47d864;
  margin-left: 20px;
}

/* .modal-detail-content .footer-modal .fee,
.modal-detail-content .footer-modal .ship {
  width: 50%;
  display: inline
} */

/* total-price total-profit */


/* pagnigation */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}